
您好，{{ name }}！我们已经收到您的注册请求。

为了验证此请求为您本人操作，<a href="{{ url('verify', {'token': token}) }}" > 请点击此链接激活</a>.
<br/>如果以上链接无法点击，请将它复制到你的浏览器地址栏中进入访问，该链接24小时内有效。<br/>如果此次激活请求非你本人所发，请忽略本邮件。<br/>

谢谢!<br/>

Apady项目团队
