


<div id="wrapper-copyright">
    <div class="copyright">
        <div class="copy-text object">Copyright &copy; 2018-2019 by LiShen Chen & ChenLin Huang & ZiWei Liang. All rights reserved.</div>


    </div>
</div>